#root {
  background-color: black;
  background: linear-gradient(135deg, #0d0d0d 0%, #1a1a1a 40%, #2b2b2b 100%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overlay-no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox and Edge */
.overlay-no-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
}

/* target the HTML overlay layer inside ScrollControls */
#root > div > div > div::-webkit-scrollbar {
    display: none;
}

#root > div > div > div {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}
